<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-3">
    <div class="form-group default-select select2Style">
        <select class="form-control select2" data-placeholder="Select">
            <option></option>
            <option>India</option>
            <option>Australia</option>
            <option>USA</option>
            <option>Poland</option>
            <option>Afghanistan</option>
        </select>
    </div>
</div>
</body>
</html>